<section class="mb-1 animate__animated animate__fadeInUpBig">
  <div class="container-fluid">
    <div class="row rounded mx-0 align-items-center justify-content-between">
      <div class="col-md-6 col-lg-4">
        <div class="left p-2">
          <img src="assets/logo.jpeg" alt="logo" />
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="right pt-2 mt-1">
          <p class="text-white text-capitalize mt-auto ms-auto">
            Designed And Developed By : <span>OMAR ELDEEB</span> , 2024 ©️
            Reserved .
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 text-center">
        <div class="middle p-2">
          <i class="mx-2 fa-2xl fa-brands fa-square-facebook"></i>
          <i class="mx-2 fa-2xl fa-brands fa-square-instagram"></i>
          <i class="mx-2 fa-2xl fa-brands fa-square-x-twitter"></i>
          <i class="mx-2 fa-2xl fa-brands fa-square-snapchat"></i>
          <i class="mx-2 fa-2xl fa-brands fa-linkedin"></i>
          <i class="mx-2 fa-2xl fa-brands fa-square-github"></i>
        </div>
      </div>
    </div>
  </div>
</section>
