<div class="vh-100 d-flex flex-column justify-content-between">
  <section class="mb-2 animate__animated animate__backInLeft">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="header-container mt-1 rounded shadow p-2">
            <div class="row align-items-center g-3">
              <div class="col-md-6">
                <div class="logo-container mx-auto">
                  <img src="assets/footer.svg" alt="logo" class="w-100" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="animate__animated animate__backInLeft">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="text-center">
            <img src="assets/404.jpg" class="w-75" alt="" />
            <div class="text-center mb-3">
              <button class="btn btn-outline-primary" routerLink="/users">
                <i class="fa-solid fa-left-long mx-2"></i>GO BACK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
